body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.player-inputs {
    margin: 20px auto;
}

label, input {
    margin: 10px;
}

input {
    padding: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.icon-selection {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

.icon.selected {
    border: 2px solid blue;
    pointer-events: none; /* Empêche de re-sélectionner l'icône */
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
    width: max-content;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #333;
}

.game-status {
    margin-top: 20px;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#reset-button:hover {
    background-color: #555;
}

.game-container {
    display: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
